<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
    <div class="container">
        <h3 class="navbar-brand mr-1 mb-1 mt-0" href="../">Hemuer 🙂 - Share a Smile!</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li> <li class="nav-item">
                    <a class="nav-link" href="#navs">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#navs">About</a>
                </li>
                <li class="nav-item dropdown">
                    <p class="nav-link dropdown-toggle" href="#" id="navbarDd" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Logged in as <b id='navbar-username'></b>
                    </p>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDd">
                        <a class="dropdown-item px-2" href="#more">Logout</a>
                        <!-- <a class="dropdown-item px-2" href="#more">Tooltips &amp; Popups</a>
                        <a class="dropdown-item px-2" href="#more">Progress &amp; Alerts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item px-2" href="#more">All</a> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>