<!DOCTYPE html>
<html lang="en">

<head>
    <% include('../views/partials/head') %>
</head>

<body class="container">

    <header>
        <% include('../views/partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <% include('../views/partials/footer') %>
    </footer>

</body>

</html>