<!DOCTYPE html>
<html lang="en">
<%- include('../views/partials/head.ejs')%>

<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <%- include('../views/partials/header.ejs')%>


    <%- include('../views/partials/footer.ejs')%>

</body>

</html>